/* RESET du style par défaut du navigateur 
que je ne souhaite pas avoir sur mon site */

a {
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-style: inherit;
}

button, input{
    border-width: 0;
    appearance: none;
}

/*Apparence générale*/

body{
    font-family: Arial, Helvetica, sans-serif
}

h1{
    font-size: 36px;
    color: white;
    text-align: center;
}

.h1_404{
    color: inherit;
    text-align: inherit;
}
.h1_animal{
    color: inherit;
    text-align: center;
}

h3{
    padding: 7px;
}

/*apparence des liens boutton*/
.lien{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}
.lien1{
    margin-top: 20px;
}
.lien2{
    color: #324400;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}
.lien3{
    color:#96B63E;
    font-style: italic;
    font-weight: bolder;
}

.lien:hover, input:hover, button:hover{
    background-color: #CAF3CA;
    color: black;
}

.lien:active, button:active, .lien2:hover, .lien2:active, button:active{
    background-color: #88421D;
}

/*Couleurs background*/
.bgColor1{
    background-color: #CAF3CA;
}

.bgColor2{
    background-color: #96B63E;
    color: black;
}
.bgColor3{
    background-color: #324400;
    color: white;
}
.bgColor4{
    background-color: red;
    color: white;
}


/*HEADER*/
.header{
    position: sticky;
    top: 0;
    background-color: #324400;
}

.header a{
    color: white;
}

.logo{
    width: 75px;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar a{
    font-size: 1.8rem;
}

/*Burger-Menu*/
.icon{
    fill: white;
    cursor: pointer;
}

/*Cacher "case à cocher" du checkbox + cacher le menu*/
.navbar input, .menu{
    display: none;
}

/*Afficher le menu (qui commence par "btn) en cliquant sur le Burger*/
[id^=btn]:checked + ul{
    display: block;
}

/*Mise en place du menu déplié*/
.menu{
    background-color: #324400;
    position: absolute;
    top: 85px;
    left: 30%;
    right: 0;
}

/*style du MENU*/
.nav-item a{
    line-height: 50px;
    font-size: 1.2rem;
    padding: 5px;
}

/*mise en évidence de la selection*/
.menu a:hover, a:hover{
    color: #CAF3CA;
    font-weight: bolder;
}

/*MAIN*/
/*Style Bannières (HERO)*/
.hero{
    background-color: #324400;
    background-size: cover;
    height: 300px;
    align-content: center;
}
.hero_accueil{
    background-image: url(assets/accueil/banniere-accueil-mobile.jpg);
    background-position: left;
}
.hero_habitats{
    background-image: url(assets/habitats/banniere-habitats.jpg);
    background-position: center;
}
.hero_services{
    background-image: url(assets/services/banniere-services.jpg);
    background-position: center;
}
.hero_contact{
    background-image: url(assets/contact/banniere-contact.jpg);
    background-position: center;
}
.detail_animal{
    background-image: url(assets/animaux/banniere-animal.jpg);
    background-color: #324400;
    background-size: cover;
    align-content: space-around;
    min-height: 60vh;
}

/*Style sections pages*/
.container{
    text-align: center;
    color: black;
    padding-bottom: 20px;
}

.titre_h2{
    background-color: #88421D;
    height: 40px;
    align-content: center;
    color: white;
}
.h2_animal{
    background-color: #88421d4e;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.bgDegrade{
    background: linear-gradient(to right, #88421D, white);
    color: black;
}

/*Styles des sous-sections*/
.presentation, .habitats, .animaux, .services, .contact, .animal{
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    max-width: 500px;
    display: inline-block;
}
/*sous-sections détails animaux/habitat*/
.pad1{
    padding: 30px;
}
.cont1{
    margin: 30px;
}

/*Styles des images des sous-sections*/
.image_presentation{
    width: 90%;
    border-radius: 90px;
    max-width: 500px;
}
.image_habitats, .image_services{
    width: 90%;
    max-width: 500px;
}
.img1{
    border-radius: 10px;
    width: 100%;
}
.image_animaux{
    width: 100%;
    border-radius: 50%;
    max-width: 400px;
}
.lemuriens{
    max-width: 300px;
    border-radius: 70%;
}
.image_animal{
    width: 100%;
    max-width: 500px;
}

/*AVIS*/
/*Style du titre avis dans le bloc contact*/
.avis{
    background-color: #324400;
    color: white;
    border-radius: 10px;
    margin: -20px -20px 10px -20px;
}

/*Style étoiles pleine de l'avis*/
.star-pleine{
    font-size: 40px;
    color: #324400;
}

/*FORMULAIRES*/
/*style contenteur du formulaire avis*/
.notation{
    background: white;
    margin: 30px 30px 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: solid;
    border-radius: 20px;
}
/*Style des input des formulaires*/
.form-input{
    border: solid rgb(107, 107, 107) 1px;
    border-radius: 10px;
    display: inline-block;
    margin:inherit;
    margin: 10px 0;
}
.form-input1{
    border: solid rgb(107, 107, 107) 1px;
    margin:inherit;
    margin: 10px 0;
    display: inherit;
    display: flex;
}
input, select{
    font-size: 1em;
    padding: 0.5%;
}
.labelForme{
    text-align: none;
}

.formulaire{
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.comment{
    padding: 0 5px 0 5px;
    float: inline-start;
}

/*Style notation étoile*/
.avis_etoile{
    display: flex;
    align-items: center;
    place-self: center;
}

.stars{
    display: flex;
    flex-direction: row-reverse;
}

.stars label{
    font-size: 44px;
    color: white;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}
.avis_etoile input{
    display: none;
}

.stars input:checked ~ label, .stars input:hover ~ label{
    color:#324400
}

/*Style formulaire de contact*/
.titre, .description{
    padding: 20px;
}
.description{
    display: inline-block;
}

/*Styles connexion*/
.connexion{
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    display: inline-block;
    align-items: center;
}

/*FOOTER*/
/*Style footer*/
footer.footer{
    background-color: #324400;
    color: white;
    padding: 15px;
    line-height: 1.3;
    margin-top: auto;
}

/*centrage des éléments horaires et copyright*/
.horaires, .copyright{
    text-align: center;
}

.copyright{
    margin-top: 1;
    border-top: 1px solid;
}

.copyright p{
    padding-top: 15px;
}

/*alignement des sous éléments de horaires*/
article.horaires{
    place-self: center;
}
.periode, .detail-horaires{
    text-align: start;
}

/*suppression logo pour reserver en desktop*/
.logo_footer{
    display: none;
}
/*Alignement de l'élément adresse*/ 
address{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}
.contact1, .contact2{
    height: 80%;
    padding: 5px;
}
.contact2{
    width: 250px;
}

/*en cas de peu de contenu (page 404): garder footer en bas de page (margin-top: auto pour footer)*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/*MEDIA QUERIES*/

/*Tablettes*/
@media screen and (min-width: 768px){
    
    /*retirer le menu burger*/
    .icon{
        display: none;
    } 
    /*replacer le menu*/
    .menu{
        display: initial;
        position: static;
    }
    /*placer les élément du menu en ligne*/
    .nav-item{
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }
    /*placer les éléments du sous-menu*/
    .dropdown{
        position: absolute;
        background-color: black;
        top: 70px;
        right: 0;
        padding-right: 30px;
        width: max-content;
    }
    /*annuler image bannière accueil mobile*/
    .hero_accueil{
        background-image: none;
        background-position: inherit;
    }
    /*replacer nouvele image bannière accueil*/
    .hero_accueil{
        background-image: url(assets/accueil/banniere-accueil-desktop.jpg);
        background-position: center;
    }
    /*Changement style formulaire contact*/
    .contact, .notation{
        width: max-content;
        margin: auto;
        margin-top: 30px;
    }
    .cont2{
        margin: 30px;
    }
    .commentaire, .name{
        padding: 0 150px;
    }
}

/*Tablettes en portrait*/
@media screen and (min-width: 850px){

    /*positionnement des sections*/
    .section{
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    .pad1{
        align-content: center;
    }
    .cont1{
        margin: inherit;
    }
    .section1{
        width: 50%;
        justify-self: center;
    }

    /*dimentionnement texte et image des section en ligne*/
    .presentation, .services, .habitats, .animaux{
        width: 100%; 
        text-align: center;
    }
    .image_animaux{
        min-width: 150px;
    }
    /*Modification titre h2*/
    .titre_h2{
        height: 60px;
    }
    /*modification footer avec insertion footer*/
    .logo_footer{
        display: inherit;
        width: 75px;
        float: left;
        padding-right: 20px;
        align-content: center;
    }
    address{
        height: auto;
        width: auto;
        text-align: justify;
        padding: 0 20px 0px;
    }
    .contact1{
        width: 350px;
    }
}

/*grand écran*/
@media screen and (min-width: 1200px){
    /*Stylisation texte*/
    .h1{
        font-size: 44px;
    }
    h2, .titre_h2{
        font-size: 32px;
    }
    h3{
        font-size: 28px;
    }
    p{
        font-size: 18px;
    }
    .star-pleine p{
        font-size: 60px;
    }

    /*alignement elements dans footer*/
    .footer1{
        position: relative;
        height: 20vh;
    }
    .horaires{
        position: absolute;
        top: 5%;
        left: 40%;
    }

    /*Taille logo*/
    .logo, .logo_footer{
        width: 125px;
    }

    /*Changement positionnement des blocs des sections présentation et services*/
    .presentation, .services{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-width: 500px;
        margin: inherit;
        margin-top: 30px;
        text-align: center;
    }
    .image_presentation, .image_services{
        width: 250px;
        padding-right: 10px;
    }
}
