/* RESET du style par défaut du navigateur 
que je ne souhaite pas avoir sur mon site */

a {
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

button, input{
    border-width: 0;
    appearance: none;
}

/*Apparence générale*/

body{
    font-family: Arial, Helvetica, sans-serif
}

.h1_principal{
    font-size: 36px;
    color: white;
    text-align: center;
}

h3{
    padding: 7px;
}

.button{
    color: #ff9e6a;
}

/*apparence des liens boutton*/
.lien, input{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 0;
}

.lien:hover{
    background-color: #CAF3CA;
}

.lien:active{
    background-color: #88421D;
}

/*Couleurs background*/
.bgColor1{
    background-color: #CAF3CA;
}

.bgColor2{
    background-color: #96B63E;
    color: black;
}

.bgColor3{
    background-color: #324400;
    color: white;
}

/*HEADER*/
.header{
    position: sticky;
    top: 0;
    background-color: #324400;
}

.header a{
    color: white;
}

.logo{
    width: 75px;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar a{
    font-size: 1.5rem;
}

/*BURGER-MENU*/
.icon{
    fill: white;
    cursor: pointer;
}

/*Cacher "case à cocher" du checkbox + cacher le menu*/
.navbar input, .menu{
    display: none;
}

/*Afficher le menu (qui commence par "btn) en cliquant sur le Burger*/
[id^=btn]:checked + ul{
    display: block;
}

/*Mise en place du menu déplié*/
.menu{
    background-color: #324400;
    position: absolute;
    top: 85px;
    left: 30%;
    right: 0;
}

/*style du menu*/
.nav-item a{
    line-height: 50px;
    font-size: 1.2rem;
    padding: 15px;
}

/*mise en évidence de la selection*/
.haeder__button:hover, .menu a:hover, a:hover{
    color: #CAF3CA;
    font-weight: bolder;
}

/*Style footer*/
footer{
    background-color: #324400;
    color: white;
    padding: 5%;
    line-height: 1.3;
    margin-top: auto;
}

/*centrage des éléments horaires et copyright*/
.horaires, .copyright{
    text-align: center;
}

.copyright{
    margin-top: 1;
    border-top: 1px solid;
}

.copyright p{
    padding-top: 15px;
}

/*alignement des sous éléments de horaires*/
.periode{
    width: 50%;
}

.detail-horaires{
    width: 80%;
}

/*Alignement de l'élément adresse*/ 
address{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

.contact1, .contact2{
    height: 80%;
}

/*en cas de peu de contenu (page 404): garder footer en bas de page (margin-top: auto pour footer)*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*Style bannière accueil*/
.hero_accueil{
    background-image: url(assets/accueil/banniere-accueil-mobile.jpg);
    background-color:#324400;
    background-size: cover;
    background-position: left;
    height: 300px;
    align-content: center;
}

/*Style sections pages*/
.container{
    text-align: center;
    color: black;
    padding-bottom: 20px;
}

.titre_h2{
    background-color: #88421D;
    height: 40px;
    align-content: center;
    color: white;
}

.bgDegrade{
    background: linear-gradient(to right, #88421D, white);
    color: black;
}

/*Styles des sous-sections*/
.presentation, .habitats, .animaux, .services, .contact{
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

/*Styles des images des sous-sections*/
.image__presentation{
    width: 90%;
    border-radius: 90px;
}

.image__habitats, .image__services{
    width: 90%;
}

.image__animaux{
    width: 90%;
    border-radius: 50%;
}

/*Style étoiles pleine de l'avis*/
.star{
    font-size: 40px;
}

/*Style du titre avis dans le bloc contact*/
.avis{
    background-color: #324400;
    color: white;
    border-radius: 10px;
    margin: -20px -20px 10px -20px;
}

/*style formulaire avis*/
.notation{
    background: white;
    margin: 30px 30px 30px;
    padding-bottom: 20px;
    padding-top: 20px;

    border: solid;
    border-radius: 20px;
}

#name, #commentaire{
    border: solid rgb(107, 107, 107) 1px;
    border-radius: 10px;
}

.comment{
    float: inline-start;
    margin-left: 20px;
}

.formulaire{
    border-bottom: solid 1px;
    padding-bottom: 10px;
}


